# Ignore all files inside the screenshots and screenshots old folders
screenshots/
captureshots/common/
captureshots/rare/
captureshots/epic/
captureshots/legendary/
captureshots/exotic/

# Ignore the MiscBot folder
MiscBot/